export KEY_NAME=node20
export KEYRING_PASSWORD=P@ssw0rd2354
export NGINX_MODE=http
export API_PORT=8000
export PUBLIC_URL=http://69.19.137.15:8000
export P2P_EXTERNAL_ADDRESS=tcp://69.19.137.15:5000
export ACCOUNT_PUBKEY=A7tAI8xmdd7M+wlPTGxBy0rqsNmjPKwDzvJR9LcRImeE
export HF_HOME=/ephemeral/hf-cache
export NODE_CONFIG=./node-config.json
export SEED_API_URL=http://node1.gonka.ai:8000
export SEED_NODE_RPC_URL=http://node1.gonka.ai:26657
export SEED_NODE_P2P_URL=tcp://node1.gonka.ai:5000
export DAPI_API__POC_CALLBACK_URL=http://api:9100
export DAPI_CHAIN_NODE__URL=http://node:26657
export DAPI_CHAIN_NODE__P2P_URL=http://node:26656
export RPC_SERVER_URL_1=http://node1.gonka.ai:26657
export RPC_SERVER_URL_2=http://node2.gonka.ai:26657
export PORT=8080
export INFERENCE_PORT=5050
export KEYRING_BACKEND=file
export DELEGATION_ENABLED=0
export DELEGATION_URL=http://147.185.40.56:9090
export DELEGATION_AUTH_TOKEN=2333544
export DELEGATION_PORT=9090